# Виртуальное окружение
venv/
__pycache__/
*.pyc

# Секреты
.env

# Модели
project/models/*.pkl
project/models/*.pth

# Логи
logs/
*.log

# Данные (большие файлы)
project/data/*.csv

# MLflow
mlflow.db
mlflow_artifacts/

# IDE
.vscode/
.idea/